<%= image_tag 'banner1.jpg'=%>
</br>
</br>
</br>

<div class="wpb_wrapper">
  <h1> <p class="text-center"> <strong>Soluções em Web para diversos profissionais </strong></h1>
  </div>
  </br>
  </br>

  <div class="profissionais">
    <div class="media-left media-middle">
      <div class="media-left">
        <a href="#">
          <%= image_tag 'liberais.jpg' %>
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Profissionais Liberais</h4>
        In order to provide the best possible experience to old and buggy browsers,
        Bootstrap uses CSS browser hacks in several places to target special.
      </div>
    </div>

    <div class="media-left media-middle">
      <div class="media-left">
        <a href="#">
          <%= image_tag 'publicitarios.jpg' %>
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Publicitários</h4>
        In order to provide the best possible experience to old and buggy browsers,
        Bootstrap uses CSS browser hacks in several places to target special.
      </div>
    </div>

    <div class="media-left">
      <div class="media-left">
        <a href="#">
          <%= image_tag 'empresarios.jpg' %>
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Empresários</h4>
        In order to provide the best possible experience to old and buggy browsers,
        Bootstrap uses CSS browser hacks in several places to target special.
      </div>
    </div>

    </br>
    </br>

    <div class="media-left media-middle">
      <div class="media-left">
        <a href="#">
          <%= image_tag 'saude.png' %>
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Profissionais Da Saúde</h4>
        In order to provide the best possible experience to old and buggy browsers,
        Bootstrap uses CSS browser hacks in several places to target special.
      </div>
    </div>

    <div class="media-left media-middle">
      <div class="media-left">
        <a href="#">
          <%= image_tag 'advogado.jpg' %>
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Advogados</h4>
        In order to provide the best possible experience to old and buggy browsers,
        Bootstrap uses CSS browser hacks in several places to target special.
      </div>
    </div>

    <div class="media-left media-middle">
      <div class="media-left">
        <a href="#">
          <%= image_tag 'chef-de-cozinha.jpg' %>
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Bares e Restaurantes</h4>
        In order to provide the best possible experience to old and buggy browsers,
        Bootstrap uses CSS browser hacks in several places to target special.
      </div>
    </div>

    </br>
    </br>
    </br>
