</br>
</br>
<div class="container-fluid">
<div class="row">
  <div class="col-xs-6 col-md-4"> <%= image_tag 'loja-virtual2.png' =%></div>
  <div class="col-xs-6 col-md-4"> <h2>Lojas Virtuais</h2></div>
  <div class="col-xs-6 col-md-4"> <%= image_tag 'loja-virtual.png' =%></div>
</div>

  <div class="jumbotron">
    </br>

<p class="text-justify">


      <p>A sua loja aberta 24 horas por dia !!!!Todos os recursos que você precisa, sem segredos
        simplificando todas as dificuldades da venda online, facilitando a interação com público. </P>
    </p>
    </br
    </br>
    </br>

    <h3 p class="text-center">Vantagens para suas vendas aumentarem !!! </h3>
    </br>
    </br>
    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <%= image_tag 'www.jpg'=%>
          <h4>Sua loja conectada ao mundo</h4>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <%= image_tag 'boleto.png' =%>
          <h4>Receba por boleto, cartão de crédito, depósito, etc</h4>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <%= image_tag 'fale-conosco.png' =%>
          <h4>Atendimento completo via web e telefone</h4>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
    </div>

    </br>
    </br>
    </br>

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <%= image_tag 'Responsivo.png' =%>
          <h4>Sua loja responsiva, integrada a todas as tecnologias de acesso</h4>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <%= image_tag 'google.jpg' =%>
          <h4>Seja encontrado no Google e em diversos buscadores</h4>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <%= image_tag 'frete.png' =%>
          <h4>Cálculo de frete integrado aos Correios</h4>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
    </div>

  </div>
</div>
</div>
</div>

  </br>
  </br>
