</br>
</br>
</br>

<div class="container">
  <div class="jumbotron">
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <%= image_tag 'sites.png' %>
      </a>
    </div>
    <p class="text-right">
      <h2>Sites</h2>
    </p>
    </br>
    </br>
    </br>
    </br>
    </br>
    <p class="text-justify">

      Temos diversas soluções em desenvolvimento de websites, hotsites e lojas virtuais para bares e restaurantes
      Oferecemos os serviços de Hospedagem de sites e Manutenção de sites.Temos opções de modelos de sites personalizados para sua empresa.
      Os sites criados tem design moderno, atraente, simples e fácil de navegar no framework bootstrap. Criamos sites com otimização
      para o Google e outros buscadores (BING, YAHOO), Indexação Projeto Web faz a indexação de seu site no Google, com Meta Tags, Sitemap.xml e Robots.txt, facilitando assim a inclusão nos sites de busca. Os sites possuem acompanhamento de acessos pelo Google Analytics(JavaScript), atendimento online (LiveZilla) e banco de dados simples(MySQL).

Solicite uma prova sem compromisso, e veja como pode ficar o seu novo site. Na Projeto Web, é assim, você só paga se gostar e aprovar.


      do marketing digital
      e social mídia, sites com estruturas diferenciadas  e adaptadas a necessidade de seu empreendimento, e com layouts
      adaptados a qualquer tecnolgia.

A Projeto Web cria websites para todos os segmentos, desenvolvemos sites pessoais, institucionais e profissionais. Oferecemos os serviços de Hospedagem de sites e Manutenção de sites.

Temos opções de modelos de sites padrões(prontos, simples) ou personalizados. Os sites criados tem design moderno, atraente, simples e fácil de navegar. Criamos sites com otimização simples ou avançada(SEO) para o Google e outros buscadores (BING, YAHOO).

A Projeto Web faz a indexação de seu site no Google, com Meta Tags, Sitemap.xml e Robots.txt, facilitando assim a inclusão nos sites de busca. Os sites possuem acompanhamento de acessos pelo Google Analytics(JavaScript), atendimento online (LiveZilla) e banco de dados simples(MySQL).

Solicite uma prova sem compromisso, e veja como pode ficar o seu novo site. Na Projeto Web, é assim, você só paga se gostar e aprovar.

    </p>
    </br
    </br>
    </br>

    <h4 p class="text-center">MODELOS INICIAIS DO FRAMEWORK BOOTSTRAP COM LAYOUTS RESPONVIVOS, PARA SUA ESCOLHA: </h4>
    </br>
    </br>
    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <%= image_tag 'starter-template.jpg'=%>
          <h4>Modelo Básico</h4>
          <h5 p class="text-center"> CSS e JavaScript integrados. </h5>
          <p><a class="btn btn-primary" href="http://getbootstrap.com/examples/starter-template/" target="_blank" role="button">Ver Detalhes &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <%= image_tag 'theme.jpg' =%>
          <h4>Bootstrap theme</h4>
          <h5 p class="text-center"> Carregar o tema opcional Bootstrap para uma experiência visual aprimorada.</h5>
          <p><a class="btn btn-primary" href="http://getbootstrap.com/examples/theme/" target="_blank" role="button">Ver Detalhes &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <%= image_tag 'jumbotron.jpg' =%>
          <h4>Jumbotron</h4>
          <h5 p class="text-center">
            Construir em torno do jumbotron com uma barra de navegação e algumas colunas de grade básicas.</h5>
          <p><a class="btn btn-primary" href="http://getbootstrap.com/examples/jumbotron/" target="_blank" role="button">Ver Detalhes &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
    </div>

    </br>
    </br>
    </br>

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <%= image_tag 'jumbotron-narrow.jpg' =%>
          <h4>Jumbontron Narrow</h4>
          <h5 p class="text-center">Construir uma página personalizada mais estreitando o container padrão e jumbotron. </h5>
          <p><a class="btn btn-primary" href="http://getbootstrap.com/examples/jumbotron-narrow/" target="_blank" role="button">Ver Detalhes &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <%= image_tag 'cover.jpg' =%>
          <h4>Cover</h4>
          <h5 p class="text-center"> Um modelo de uma página para a construção de home pages simples e bonita. </h5>
          <p><a class="btn btn-primary" href="http://getbootstrap.com/examples/cover/" target="_blank" role="button">Ver Detalhes &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <%= image_tag 'carousel.jpg' =%>
          <h4>Carrousel</h4>
          <h5 p class="text-center"> Site personalizado com a barra de navegação e carrossel, com alguns novos componentes. </h5>
          <p><a class="btn btn-primary" href="http://getbootstrap.com/examples/carousel/" target="_blank" role="button">Ver Detalhes &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
    </div>

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <%= image_tag 'dashboard.jpg' =%>
          <h4>Dashboard</h4>
          <h5 p class="text-center"> Estrutura de site estatístico, com um painel de administração com barra lateral fixa e barra de navegação. </h5>
          <p><a class="btn btn-primary" href="http://getbootstrap.com/examples/dashboard/" target="_blank" role="button">Ver Detalhes &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <%= image_tag 'sign-in.jpg' =%>
          <h4> Sign-In</h4>
          <h5 p class="text-center"> Site com layout do formulário personalizado e design para um simples sinal em forma. </h5>
          <p><a class="btn btn-primary" href="http://getbootstrap.com/examples/signin/" target="_blank" role="button">Ver Detalhes &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <%= image_tag 'justified-nav.jpg' =%>
          <h4>Justified-Nav</h4>
          <h5 p class="text-center"> Site uma barra de navegação personalizada com links justificados. </h5>
          <p><a class="btn btn-primary" href="http://getbootstrap.com/examples/justified-nav/" target="_blank" role="button">Ver Detalhes &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
    </div>
  </div>
</div>
</div>


  </br>
  </br>
