  <div class="navbar">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><span><%= image_tag"logo-miranda-3.png"=%></span></a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-ex-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li role="presentation"><%= link_to "Home", welcome_index_path%></li>
          <li role="presentation"><%= link_to "Quem somos", welcome_quemsomos_path%></li>
          <li role="presentation"><%= link_to "Fale Conosco", welcome_faleconosco_path%></li>
          <li role="presentation"><%= link_to "Sites", welcome_sites_path%></li>
          <li role="presentation"><%= link_to "Redes Sociais", welcome_redessociais_path%></li>
          <li role="presentation"><%= link_to "Sistemas de Web", welcome_sistemasweb_path%></li>
          <li role="presentation"><%= link_to "Soluções em Gestão de TI", welcome_gestaoti_path%></li>
        </div>
      </div>
    </div>
