<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <%= image_tag 'logo-miranda-3.png'=%>
      </a>
      <ul class="nav nav-pills navbar-right">
        <li role="presentation"><%= link_to "Home", welcome_index_path%></li>
        <li role="presentation"><%= link_to "Quem somos", welcome_quemsomos_path%></li>
        <li role="presentation"><%= link_to "Fale Conosco", welcome_faleconosco_path%></li>
        <li role="presentation"><%= link_to "Sites", welcome_sites_path%></li>
        <li role="presentation"><%= link_to "Redes Sociais", welcome_redessociais_path%></li>
        <li role="presentation"><%= link_to "Sistemas de Web", welcome_sistemasweb_path%></li>
        <li role="presentation"><%= link_to "Soluções em Gestão de TI", welcome_gestaoti_path%></li>
      </ul>
    </div>
  </div>
</nav>
