<footer class="bs-docs-footer" role="contentinfo">
<div class="container">

<script type="text/javascript" src="http://counter10.freecounter.ovh/private/countertab.js?c=2a24512a013e92a9b35a1be10a3d1c70"></script>

       <p class="pull-right"><a href="#">Back to top</a></p>

<ul class="breadcrumb navbar-left text-center">
  <li><%= link_to "HOME", welcome_empresa_path%></li>
  <li><%= link_to "QUEM SOMOS", welcome_suporte_path%></li>
  <li><%= link_to "FALE CONOSCO", welcome_orcamento_path%></li>
  <li class="active">Teremos a satisfação em atender !!!</li>
</ul>
 <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link">Miranda Web</a></p>

<form class="navbar-form navbar-right">
        <div class="mini-icons">
          <a href="http://www.fb.com/mirandawebt"><%= image_tag "facebook.png"%><span class="hide">facebook</span></i></a>
        <a href="http://www.twitter.com/"><%= image_tag 'twitter.png' %><span class="hide">twitter</span></i></a>
      <a href="https://plus.google.com/"><%= image_tag "google.png"%><span class="hide">googlepl</span></i></a>
    <a href="http://www.instagram.com/"><%= image_tag "instagram.png"%><span class="hide">instagram</span></i></a>
  <a href="http://www.youtube.com/"><%= image_tag "youtube.png"%><span class="hide">youtube</span></i></a></div>
          </div>
        </form>


<p class="text-center">
| Belém - Pará - Brasil
| Contatos: <%= image_tag "zap.jpg" =%> (91) 99805-3374 |
| E-mail: mirandaweb77@gmail.com |
</p>
      </br>

<div class="rodape">
Copyright © 2014 - Miranda Web
</div>

</div>
</footer>
